body {
    background-color: var(--surface);
}

.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    .search {
        flex: 1;
    }
}

.page {
    display: flex;
    flex-direction: column;

    background-color: var(--bg);
    min-height: 100svh;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.item {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.pagination {
    display: flex;
}
