.page {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1rem;

  background-color: var(--bg);
  min-height: 100svh;

  &>* {
    max-width: 900px;
    width: 100%;
  }

  &>*:nth-child(even) {
    background-color: var(--surface);
  }

  .loadingChars {
    background-color: var(--surface);
    min-height: 755px;
  }
}
