@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --bg: #1d2021;
  --surface: #32302f;
  --text: #bdae93;
  --red: #cc241d;
  --yellow: #fabd2f;
  --green: #98971a;
  --blue: #458588;
  --purple: #b16286;

  * {
    padding: 0;
    margin: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #fbf1c7;
    --surface: #ebdbb2;
    --text: #3c3836;
  }
}

body {
  font-family: "JetBrains Mono", monospace;
  color: var(--text);

  a {
    color: var(--blue);
    text-decoration: underline;
  }

  input[type='text'] {
    background-color: var(--surface);
    color: var(--text);
    outline: none;
    padding: 0.25rem;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg,
        var(--red),
        var(--yellow),
        var(--green),
        var(--blue),
        var(--purple)) 1;

    &:focus {
      border-width: 4px;
    }
  }

  button {
    background-color: var(--bg);
    color: var(--text);
    padding: 0.25rem;

    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, var(--green), var(--blue)) 1;

    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--blue);
      color: var(--yellow);
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg);
  min-height: 100svh;
}
