.page {
  display: flex;
  height: 100vh;

  flex-direction: column;
  align-items: center;

  background-color: var(--bg);

  &>*:nth-child(even) {
    background-color: var(--surface);
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  min-height: 80svh;

  input {
    min-width: 320px;
  }
}
