.page {
  display: flex;
  height: 100vh;

  flex-direction: column;
  align-items: center;

  background-color: var(--bg);

  &>*:nth-child(even) {
    background-color: var(--surface);
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  min-height: 80svh;

  input {
    min-width: 320px;
  }
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--bg);
  min-height: calc(100svh - 3rem);
  text-align: center;

  h1 {
    font-size: var(--font-bigger)
  }

  p {
    font-size: var(--font-big)
  }
}
